input[type="submit"]{
	border: 0px;
	border-radius: 5px;
	background-color: #58ACFA;
	padding: .7%;
	color: #fff;
	cursor: pointer;
	transition: .4s all;
}

input[type="submit"]:hover{
	background-color: #0174DF;
}

input[type="submit"].sub{
	padding: 3%;
	font-size: 130%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.bg_bottom{
	background-color: #e5e5e5;

}

.content_resize2{
	width: 1140px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	display: block;
	padding-bottom: 40px;
}
.development-width{
	margin: 0 auto;
	width: 1140px;
}
.development{
	width: 1075px;
	height: 220px;
	margin: 0 auto;
	display: block;
	padding: 50px 30px;
}
.side_development i{
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.side_development:hover i{
	transform: scale(1.1) rotate(360deg);
}
.side_development{
	float: left;
	width: 240px;
	height: 130px;
	max-height: 300px;
	text-align: center;
	padding: 4%;
	font-size: 150%;
	background-color: #fff;
	margin-left: 22px;
	box-shadow: 0 0 20px rgba(2, 216, 113, 0.33);
	-webkit-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
}
.side_development:hover{
	margin-top: -5px;
}
.side_development h1{
	color: #02d871;
	font-size: 260%;
	padding-bottom: 40px;
}

.portfolio{
	background-color: #F2F2F2;
	float: left;
	width: 1140px;
	padding-bottom: 40px;
}

.pricings h1, .portfolio h1{
	font-weight: inherit;
	font-size: 260%;
	color: #02d871;

}

.pricings p, .portfolio  p {
	padding: 0 40px;
	color: #6E6E6E;	
	font-size: 120%;
}
.development p{
	letter-spacing: 3px;
	padding-bottom: 40px;
	color: #A4A4A4;
	font-size: 100%;	
}


.portfol_con{
	margin-top: 70px;
	text-align: center;
}
.container {
	width: 100%;
	max-width: 990px;
	margin: 30px auto;
    color: #6E6E6E;
}

.cont_img{
	margin-top: 70px;
	height: auto;
	width: auto;
	float: left;
}
.cont_img img{
	height: auto;
	width: 300px;
}
.cont_content{
	width: 630px;
	margin-left: 60px;
	text-align: left;
	float: left;
	  font: normal 120% 'century gothic', arial;
}
.cont_content p{
	color: #6E6E6E;
	font-size: 90%;
}
.cont_content ul li{
	color: #00ae5a;
	margin-bottom: 10px;
}
.sub{
	text-align: center;
}

.pric_title{
	margin-top: 70px;
	text-align: center;
}

.pricings, .sequence{
	float: left;
	width: 1140px;
	background: #F9F7F7;
}
.sequence{
	float: left;
	width: 1140px;
	background: #f1f1f1;
}

.price{
	margin: 0 auto;
	width: 1140px;
	color: #A4A4A4;
}
.price_con{
	width: 1000px;
	margin: 0 auto;
}
.img_block img{
	width: 300px;
	height: 300px;
	float: left;
}
.title_block{
	float: left;
}
ul.plan{
	background: #fff;
	list-style: none;
	margin: 0 0 20px;
	text-align: center;
	padding: 0;
	border-bottom: 1px solid #e1e1e1;
}
ul.plan li{
	padding: 10px 0;
	margin: 0 15px;
	border-bottom: 1px dashed #eee;
}
ul.plan li.plan-name{
	padding: 15px 0;
	font-size: 18px;
	font-weight: 700;
}

ul.plan li.plan-name-center{
	padding: 15px 0;
	font-size: 18px;
	font-weight: 700;
	border: 0px;
}
ul.plan li.plan-price{
	margin: 0 15px;
	font-size: 330%;
	color: #666;
}

ul.plan li.plan-price-center{
	color: #fff;
	background-color: #52b6ec;
	border-bottom-color: #52b6ec;
	margin: 0;
	font-size: 330%;
}

.why_us_block{
	width: 1140px;
}
.why_us{
	width: 100%;
	height: auto;
	float: left;
	margin: 0 auto;
	background-image: url(../img/myfreelancer2.jpg) ;
		background-attachment: fixed;
	background-size: cover;
	background-position: ;
	padding: 55px 0 55px 0;
	z-index: 0;
}
.why_us_title{
	padding: 0 100px;
	color: #bae1ce;
	font-size: 120%;
}
.why_us_title h1{
	color: #02d871;
	opacity: 1;
	font-weight: normal;
}
p.title_p1{
	padding-left: 5%;
}
p.title_p2{
	padding-left: 25%;
}
p.title_p3{
	padding-left: 55%;
}
.contact_form{
	width: 1140px;
	float: left;
	margin: 0 auto;
	background: #1C1C1C;
	border-radius: 0 0 5px 5px;
}
.con_block{
	width: 1000px;
	margin: 0 auto;
}
.con_left{
	float: left;
	width: 45%;
	padding: 3% 6% 3% 9%;
}
.contact_form h1{
	padding-top: 30px;
	color: #02d871;
	font-weight: inherit;
	font-size: 230%;
}
.contact_form p{
	padding-bottom: 40px;
	color: #bae1cec7;
	font-size: 100%;
	float: left;
}
input.eml{
	margin-left: 27px;
}

.con_left input, .con_left textarea{
	background: #000;
	border-radius: 5px;
	width: 40%;
	padding: 2%;	
	border: 0px;
	opacity: .7;
	transition: all .5s;
	outline:none;
	color: #bae1cec7;
}

.con_left input:focus, .con_left textarea:focus{
	opacity: 1;
}
.con_left textarea{
	background: #000;
	border-radius: 5px;
	width: 90.5%;
	padding: 2%;	
	border: 0px;
}
.con_left input[type="submit"]{
	background:#FA5858;
	font-size: 130%;
	padding: 5px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	color: #fff;
	opacity: 1;
}
.con_left input[type="submit"]:hover{
	background: #FE2E2E;
}

.con_right{
	float: left;
	width: 30%;
	padding: 3% 3% 3% 3%;
}

p.right{
	float: right;
	margin-right: 50px;
}

.connect, .address{
	width: 100%;
	height: auto;
	float: left;
}
.connect a{
	margin-bottom: 20px;
	float: left;
	text-decoration: none;
	font-size: 130%;
	color: #bae1cec7;
	transition: .5s all;
}
.connect a:hover{
	color: #02d871;
}

.contact-left{
	float: left;
}
.contact-right{
	float: right;
}

.connect img{
	padding-top: 10px;
}
.connect div a i {
	margin-right: 10px;
}

.fab{
	border: 0;
	color: #fff;
	border-radius: 100%;
	display: inline-block !important;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0;
}
i.fab:hover{
	opacity: .8;
}
.fa-skype{
	background: #00aff0;
}
.fa-telegram-plane{
	background: #0088cc;
}
.fa-viber{
	background: #59267c;
}
.contact-right{
	margin-right: 110px;
}

.footer{
	float: left;
	width: 1140px;
	margin: 0 auto;
	color: #999;
}
.fot-left{
	margin-top: 35px;
	width: 50%;
	
}