*{
	margin: 0;
	padding: 0;
}

body{
	font: normal 110% 'century gothic', arial;
	font-size: 14px;
	line-height: 1.428571429;
	background-color: #e5e5e5;
}
div{
	display: block;
}
a{
	text-decoration: none;
}

 p::selection, span::selection, h1::selection, h2::selection, h4::selection, a::selection, li::selection, ul::selection, img::selection{
 	color: #fff;
 	background-color: #02d871;
 }
.bg_top{
	background-image: url(../img/apple-computer-desk-159643.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	
}



.content_resize{
	width: 1140px;
	margin:0 auto;
}


.car_text{
	margin-top: 230px;
	letter-spacing: 3px;
	text-align: center;
}
.car_text span{
	color: #02d871;
}
.car_text h1{
	font-size: 410%;
	font-weight: normal;
}
.car_text p{
	font-size: 150%;	
}
.car_text p.slogan{
	font-size: 250%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="file"] {
	font-weight: bold;
	display: inline-block;
	cursor:pointer;
	padding: 7px 10px;
	background-color: #2E9AFE;
	color:#ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
	border-radius:5px;
	transition: all 0.3s;
}
label[for="file"]:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}

label[for="file"]:active{
	box-shadow: none;
	background: #0174DF;
}
label[for="file"] i{
	padding-right: 5px;
}
.inf_block_btn{
	margin-top: 80px;
}
a.inform_btn{
	text-decoration: none;
	color: #02d871;
	border: 2px solid #02d871;
	padding: 15px 50px;
	font-size: 110%;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
a.arrow_box:hover{
	background: #02d871;
	color: #fff;
}
.arrow_box:hover .arrow_box:after {
	border-top-color: #02d871;
}
.width_row{
	width: 55%;
}
.angle_down{
	font-size: 170%;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 50%;
}


.arrow_box {
	text-decoration: none;
	color: #02d871;
	border: 2px solid #02d871;
	padding: 15px 50px;
	font-size: 110%;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {


	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #02d871;
	border-width: 16px;
	margin-left: -16px;
}

a.center_button{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 3.4;
	text-transform: uppercase;
	font-weight: bold;
	left: 0;
	right: 0;
	margin: auto;
	text-decoration: none;
	color: #fff;
	background: #02d871;
	border: 2px solid #02d871;
	font-size: 110%;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	position: absolute;
}
a.center_button:hover{
	background: none;
	color: #02d871;
}

/*МОДАЛЬНЕ ВІКНО*/
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: none;
	/* фон затемнения */
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed; /* фиксированное поцизионирование */
	cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
	display: block;
}
/* стили модального окна */
.popup > div{
	overflow-y:scroll;
	padding: 10px;
	width: 99%;
		height: 520px;
}
.popup {
	top: -100%;
	right: 0;
	left: 50%;
	font-size: 14px;
	z-index: 1100;
	margin: 0;
	width: 85%;

	min-width: 320px;
	max-width: 600px;
	/* фиксированное позиционирование, окно стабильно при прокрутке */
	position: fixed;
	padding: 15px;
	border: 1px solid #383838;
	background: #fefefe;
	/* скругление углов */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	/* внешняя тень */
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);
	-webkit-transition: -webkit-transform 0.6s ease-out;
	-moz-transition: -moz-transform 0.6s ease-out;
	-o-transition: -o-transform 0.6s ease-out;
	transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 15%;
}
/* формируем кнопку закрытия */
.close {
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.8);
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	text-decoration: none;
	font: 13px/20px 'Tahoma', Arial, sans-serif;
	font-weight: bold;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	-ms-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
}
.close:before {
	color: rgba(255, 255, 255, 0.9);
	content: "X";
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	font-size: 12px;
}
.close:hover {
	background-color: rgba(252, 20, 0, 0.8);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);    
}
/* изображения внутри окна */
.popup img {
	width: 100%;
	height: auto;
}
/* миниатюры слева/справа */
.pic-left, 
.pic-right {
	width: 25%;
	height: auto;
}
.pic-left {
	float: left;
	margin: 5px 15px 5px 0;
}
.pic-right {
	float: right;
	margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0; 
	display:block;
	margin: auto;
	min-width: 320px;
	max-width: 600px;
	width: 100%;
}
.popup h2 { /* заголовок 2 */
	margin: 0;
	color: #008000;
	padding: 5px 0px 10px;
	text-align: left;
	text-shadow: 1px 1px 3px #adadad;
	font-weight: 500;
	font-size: 1.4em;
	font-family: 'Tahoma', Arial, sans-serif;
	line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}
/*КІНЕЦЬ МОД. ВІКНА*/

/*СТИЛЬ В СЕРЕДИНІ МОДАЛЬНОГО ВІКНА*/
.popup input, .popup select, .popup textarea{
	width: 100%;
	border: 0;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px 10px;
	outline: none;
	-webkit-transition: .3s all;
	-moz--transition: .3s  all;
	transition: .3s  all;

}
.popup select{
	cursor: pointer;
} 
.popup p{
	color: #02d871;;
}

.popup input[type="text"]:focus, .popup input[type="tel"]:focus, .popup input[type="email"]:focus, .popup select:focus, .popup textarea:focus {
	border-bottom: 2px solid #02d871;
}

.popup input[type="submit"]{
	background-color: #02d871;
}
.popup input[type="submit"]:hover{
	background-color: #00b75f;
}
.popup input[type="submit"]:active{
	background-color: #008042;
}

.popup input:required, .popup textarea:required {
	background: #fff url(../img/red_asterisk.png) no-repeat 98% center;
}
.popup input:required:valid, .popup textarea:required:valid {
	background: #fff url(../img/valid.png) no-repeat 98% center;

	border-color: #02d871;
}
.popup input:focus:invalid, .popup textarea:focus:invalid {
	background: #fff url(../img/invalid.png) no-repeat 98% center;

	border-color: #b03535
}

::-webkit-scrollbar-button { 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:6px; 
	height:0px 
} 

::-webkit-scrollbar-track { 
	background-color: #e5e5e5; 
	box-shadow:0px 0px 3px #e5e5e5 inset; 
} 

::-webkit-scrollbar-thumb { 
	cursor: pointer;
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	background-color:#02d871; 
	box-shadow:0px 1px 1px #fff inset; 
	background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
	background-position:center; 
	background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:7px; 
	height:0px 
} 

::-webkit-scrollbar{ 
	width: 11px; 
}